@charset "utf-8";

@media(min-width: 0px) {
	.well {
		width: 100%;
		margin-left: 0%;
	}

	#primeiro, #segundo {
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}

	#primeiro:hover, #segundo:hover {
		border-color: gold;
	}
}